.topbar {
    background-color    : #415364;
    min-height          : 31px;

    .ui.grid.middle.aligned.inverted {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        min-height      : 30px;
    }

    &__left,
    &__right,
    &__right a {
        font-size: 11px;
        font-weight: 500;
        line-height: normal;
        color: #fff;
    }

    &__left {
        font-size: 12px;
        font-weight: 400;
    }

    &__sac {
        margin-right: 40px;
    }    
}