<div class="ui container fluid topbar " id="top_bar">
    <div class="ui container">
        <div class="ui grid middle aligned inverted">
            <div class="topbar__left">
                <div>
                    
                </div>
                <strong>Nossas lojas</strong>
            </div>
            <div class="topbar__right">
                <span>SAC:</span>
                <strong class="topbar__sac">(41) 3501-8105</strong>
                <span>Whatsapp:</span>
                <a href="http://"><strong>(41) 99636-8566</strong></a>
            </div>

        </div>
    </div>
</div>